@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

:root {
  --primary: #012222;
  --secondary: #48a906;
  --dark: #111;
  --light: #eee;
}

body {
  font-family: 'Doto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--light);
  background-color: var(--dark);
  margin: 0;
}

.calculator {
  width: 320px;
  height: auto;
  background-color: var(--primary);
  padding: 30px;
  border-radius: 8px;
  border: 1px solid var(--light);
}

.output {
  line-height: 60px;
  background-color: var(--dark);
  color: var(--secondary);
  height: 60px;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 900;
  text-align: right;
  padding: 0 20px;
  border-radius: 4px;
  border: 1px solid var(--light);
}

.btn {
  width: 70px;
  height: 70px;
  margin: 5px;
  background-color: var(--primary);
  border-radius: 30%;
  border: 1px solid var(--light);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.btn:hover {
  border-color: var(--secondary);
  color: var(--dark);
  background-color: var(--secondary);
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}